/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;
}

header {
    height: 90vh;
    background-image: linear-gradient(to right bottom,
            rgb(126, 213, 111, 0.8),
            rgb(40, 180, 131, 0.8)),
        url('../img/hero.jpg');
    background-size: cover;
    position: relative;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    color: #fff;
}

.logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.logo {
    height: 4rem;
}

.header-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header-text>h1 {
    font-size: 6rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2rem;
    animation-name: moveleft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.header-text p {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
    animation-name: moveright;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes moveleft {
    0% {
        opacity: 0;
        transform: translate(-10rem);
    }

    80% {
        transform: translate(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveright {
    0% {
        opacity: 0;
        transform: translate(5rem);
    }

    80% {
        transform: translate(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    border-radius: 15rem;
    padding: 1rem 3rem;
    transition: all 0.1s ease;
    display: inline-block;
    text-decoration: none;
}

.header-text .btn-white {
    margin-top: 5rem;
    background-color: white;
    color: #777;
    letter-spacing: .2rem;
    position: relative;
    animation: moveup 1s ease 0.75s;
    animation-fill-mode: backwards;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(1rem);
}

.btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    transition: all 0.3s ease;
}

.btn-white::after {
    background-color: white;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}

.btn:hover::after {
    transform: scale(1.4, 1.6);
    opacity: 0;
}

@keyframes moveup {
    0% {
        transform: translateY(8rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}