#section-about {
    height: 100vh;
    padding: 10rem 0 50rem 0;
    background-color: $color-grey-light;
    text-align: center;
    // clip-path: polygon(0 0, 100% cal, 100% 70vh, 0 100%);

    h2 {
        font-size: 3rem;
        text-transform: uppercase;
        color: transparent;
        letter-spacing: .2rem;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
        transition: all .2s ease;
        margin-bottom: 3rem;

        &:hover {
            transform: skewY(3deg) skewX(-4deg);
            text-shadow: .3rem .3rem 1rem rgba($color-black, $alpha: .2);
        }
    }
}

.section-container {
    display: flex;
    padding: 0 20px;
}

.container {
    flex: 1 1 50%;
}

.block {
    text-align: left;
    padding: 0px 5rem;

    & h3 {
        font-size: 1.6rem;
        font-weight: 700;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    & p {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
}

.link {
    text-align: left;
    padding-left: 5rem;
}